
.idea/
.project
.pydevproject

.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

.env

*.db
*.sqlite3

webapp/node_modules/
webapp/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

osrm-data/
